@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure Container Apps</h1>
    <p><a href="https://learn.microsoft.com/en-us/azure/container-apps/overview">Azure Container Apps overview</a></p>
</div>
